.address-footer__firtspart-logo {
  display: inline-block;
  color: var(--firspart-logo-footer);
  margin-bottom: 28px;
  @extend %logo;
}

.address-footer__secondpart-logo {
  color: var(--secondpart-logo-footer);
  @extend %logo;
}
