.footer .footer-firspart-logo {
  display: inline-block;
  color: var(--firspart-logo-footer);
  font-family: Raleway, cursive;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  padding-bottom: 0;
  margin-bottom: 28px;
  text-decoration: none;
}
.footer .footer-secondpart-logo {
  color: var(--secondpart-logo-footer);
  font-family: Raleway, cursive;
}
