.regular-customers {
  color: var(--tittle-text-color);
  text-align: center;
}

.regular-customers__title {
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
}

.customers {
  display: flex;
  justify-content: start;

  &--mt {
    margin-top: 50px;
  }

  &__link {
    width: 170px;
  }

  &__link:not(:last-child) {
    margin-right: 30px;
  }

  &__union {
    padding: 23px 65px 22px 64px;
    @extend %icon-customers;
  }

  &__tagline {
    padding: 19px 65px 21px 65px;
    @extend %icon-customers;
  }

  &__company {
    padding: 25px 65px 26px 62px;
    @extend %icon-customers;
  }
  &__foster {
    padding: 25px 43px 27px 43px;
    @extend %icon-customers;
  }

  &__brand {
    padding: 23px 54px 24px 54px;
    @extend %icon-customers;
  }

  &__tag {
    padding: 23px 38px 25px 38px;
    @extend %icon-customers;
  }

  &--hover {
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__icon--hover:hover,
  &__icon--hover:focus {
    fill: var(--fill-customers-hover);
    border: 1px solid var(--fill-customers-hover);
    border-radius: 4px;
  }
}
